# Config file for nbbackup.sh

# Mount the backup drive here
TARGET=/tmp/nbbackup-target

# File that contains the backup drive names
DRIVE_FILE=/etc/nbbackup/drives.conf

# Do not run fsck by default
CHECK=0 # 0 or 1

# Services to disable (for partimage)
SAMBA=/etc/init.d/samba
NFS=/etc/init.d/nfs-kernel-server

# Options for partimage
PI_DRIVE=/dev/sda1
PI_IMAGE=storage-disk-1.partimg.gz
PI_REMOUNT=/storage/disk-1

# Options for rsync
RS_SOURCE=/storage/disk-1/
RS_TARGET=$TARGET/storage-disk-1/
